:root {
    --main-color: #F3C200;
    --main-color-rgb: 243, 194, 0;
    --disabled-btn-color: rgba(0, 0, 0, 0.25);
    --placeholder-text-color: rgba(0, 0, 0, 0.42);
    --main-font-family: "Univers LT Std";
}
